apiVersion: apps/v1
kind: Deployment
metadata:
  name: mcp-service-restaurant
  namespace: default
  labels:
    app: mcp-service-restaurant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcp-service-restaurant
  template:
    metadata:
      labels:
        app: mcp-service-restaurant
    spec:
      containers:
      - name: mcp-restaurant-api
        image: ghcr.io/vishalk17/mcp-service-restaurant:v0.7
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: url
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: mcp-service-restaurant
  namespace: default
  labels:
    app: mcp-service-restaurant
spec:
  selector:
    app: mcp-service-restaurant
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP